[submodule "airootfs/etc/skel/.config/nvim"]
	path = airootfs/etc/skel/.config/nvim
	url = https://github.com/lugvitc/LUGOS-nvim-config.git
[submodule "airootfs/usr/share/grub/themes/LUGOS-grub"]
	path = airootfs/usr/share/grub/themes/LUGOS-grub
	url = https://github.com/lugvitc/LUGOS-grub
