[Desktop Entry]
Type=Application
Name=StratOS Welcome
GenericName=Welcome Screen App
Comment=Welcome Screen Application for StratOS
Exec=/opt/StratOS-maneki-neko
Icon=/opt/StratOS-maneki-neko/src/png/logo.png
Comment=StratOS welcome screen
X-GNOME-Autostart-enabled=true
Path=/opt/StratOS-maneki-neko/
Terminal=false
StartupNotify=false