[Unit]
Description=GNOME Display Manager
Documentation=man:gdm(1)
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service systemd-logind.service
PartOf=graphical.target
StartLimitIntervalSec=30
StartLimitBurst=2

[Service]
ExecStart=/usr/bin/gdm
Restart=always

[Install]
Alias=display-manager.service

