[Unit]
Description=Set GNOME wallpaper

[Service]
Type=simple
ExecStart=bash /usr/local/bin/set-gnome-wallpaper

[Install]
WantedBy=multi-user.target
