[Desktop Entry]
Type=Application
Exec=bash /usr/local/bin/lugos-configure-gnome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Set LugOS background
Comment=Set LugOS background
Encoding=UTF-8
Version=1.0
Terminal=false