[Desktop Entry]
Type=Application
Exec=bash /usr/local/bin/StratOS-configure-ubuntu
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Bootstrap Ubuntu on StratOS
Comment=Bootstrap Ubuntu on StratOS
Encoding=UTF-8
Version=1.0
Terminal=false